$light: #fff;
$primary-color: #655E7A;
$secondary-color: #1bbb1b;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font: arcafont,tahoma;
$secondary-font: arcafont,tahoma;
$icon-font: 'themefisher-font';
